*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

.content {
  display: grid;
}

.game-area {
  display: flex;
}

table {
  border-collapse: collapse;
}

.cell {
  height: 2em;
  width: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #000;
}

.cell:hover {
  border: 2px solid #016c18;
  background-color: #72e48a;
}
