*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

.content {
  display: grid;
  grid-template-rows:;
}

.game-area {
  display: flex;
}

table {
  border-collapse: collapse;
}

.cell {
  height: 2em;
  width: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #9d98fc;
}

.cell:hover {
  border: 1px solid #016c18;
  background-color: #72e48a;
}

.miss {
  background-color: #68686830;
}

.hit {
  background-color: #f8ff97b3;
}

.lock {
  background-color: #5e5e5ead;
  pointer-events: none;
}
